body {
    margin-left: 10px;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

p {
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}

input {
    display: block;
    margin: 5px 0 10px 0;
}

#pwd-toggle {
    display: inline-block;
    margin-right: 5px;
}

.btn-primary {
    display: block;
}

input:hover[type="submit"] {
    background-color: black;
}

a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.inline-label {
    display: inline-block;
    font-weight: bold;
}

.form-control {
    width: 40%;
}

.failure-button {
    background-color: red;
    border: none;
}

.success-button {
    background-color: red;
    border: none;
}